doctype html
html
  head
    title= title
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/javascripts/socket.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.6.4.min.js')
    script(src='/javascripts/snake.js')
    link(rel='icon', href='/images/Snake-icon.png')
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
  body
    block content
