 body {
     background: #333333;
     text-align: center;
 }
 canvas {
     background: #000;
     -webkit-box-shadow: 0 0 20px blue;
     -moz-box-shadow: 0 0 20px blue;
     box-shadow: 0 0 20px blue;
 }
 h2 {
     color: aliceblue;
 }
 h1 {
     font-family: 'Lobster', arial, serif;
     font-size: 50px;
     text-indent: -100px;
     margin-bottom: 20;
     margin-top: 30px;
     color: aliceblue;
 }
 .color {
     height: 50px;
     width: 50px;
 }
 #game {
     text-align: center;
 }
 #login {
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.9);
     position: absolute;
 }
 #jugadores {
     color: red;
     float: left;
 }
 #theplayer {
     float: right;
     text-align: center;
     margin: 0% 5%;
 }
 #add-play,
 #add-stop {
     float: left;
 }
 .btn {
     background: #3498db;
     background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
     background-image: -moz-linear-gradient(top, #3498db, #2980b9);
     background-image: -ms-linear-gradient(top, #3498db, #2980b9);
     background-image: -o-linear-gradient(top, #3498db, #2980b9);
     background-image: linear-gradient(to bottom, #3498db, #2980b9);
     text-shadow: 1px 1px 3px #666666;
     font-family: Georgia;
     color: #ffffff;
     font-size: 15px;
     padding: 0px 10px 0px 10px;
     text-decoration: none;
 }
 .btn:hover {
     background: #3cb0fd;
     background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
     background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
     text-decoration: none;
 }
