 body {
     background: #333333;
     text-align: center;
 }
 canvas {
     background: #000;
     -webkit-box-shadow: 0 0 20px blue;
     -moz-box-shadow: 0 0 20px blue;
     box-shadow: 0 0 20px blue;
 }
 h2 {
     color: aliceblue;
 }
 h1 {
     font-family: 'Lobster', arial, serif;
     font-size: 50px;
     text-indent: -100px;
     margin-bottom: 20;
     margin-top: 30px;
     color: aliceblue;
 }
 .color {
     height: 50px;
     width: 50px;
 }
 #game {
     text-align: center;
 }
 #login {
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.9);
     position: absolute;
 }
 #jugadores {
     color: red;
     float: left;
 }
 #theplayer {
     float: right;
     text-align: center;
     margin: 0% 5%;
 }
